@font-face {
    font-family: ProximaNovaExCond;
    src: url(../fonts/Proxima-Nova-ExCn-Reg.otf);
}//this doesn't look exactly right :(
@font-face {
    font-family: ProximaNovaThin;
    src: url(../fonts/Proxima-Nova-Thin.otf);
}
@font-face {
    font-family: GillSansI;
    src: url(../fonts/GillSans-Italic.ttf);
}
@font-face {
    font-family: GillSansReg;
    src: url(../fonts/GillSans.ttf);
}
@font-face {
    font-family: GillSansL;
    src: url(../fonts/GillSans-Light.ttf);
}